{
  "env": {
    "browser": true,
    "mocha": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "semi": ["error", "never"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "prefer-destructuring": 0
  }
}
